/* Base CSS file for Vibe Manager */
/* Note: This is a fallback to ensure some basic styling is available */

html {
  background-color: hsl(var(--background, 23 26 36));
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(var(--background, 23 26 36));
  color: hsl(var(--foreground, 248 248 248));
}

* {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  background-color: hsl(var(--background, 23 26 36));
}